{% extends "base.html" %}


{% load static %}

{% block title %} GH {%endblock%}

{% block content %}

<!-- Heading -->

<h1 style="padding: 10px;">SISTEMA DE REGISTRO DE COMPRAS DE CASA</h1>
<div>
  <div class="row">
    <div class="col-sm-12 col-md-9 col-lg-9 col-9">
      <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{% static 'img/super2.jpg' %}" width="95%" style="padding: 10px;">
    </div>

    <div class="col-sm-12 col-md-3 col-lg-3 col-3" style="padding: 80px 0px">
      <p>
      <h2>FAMILIA</h2>
      </p><br>
      <p>
      <h2>MARTINEZ</h2>
      </p><br>
      <p>
      <h2>RAMOS</h2>
      </p><br>
    </div>
  </div>
</div>

{% endblock %}